:root {
	--primary-color: #4727F0;
	--primary-color-light: rgb(230, 240, 248);
	--primary-color-dark :#301b9f;
	/* --secondary-color: #ffbc2f; */
	/* --secondary-color-light:  #FFDDDD; */
	--secondary-color: rgba(129, 127, 127, 0.534);
	--span-color: #E8EAED;
	--background-color: #ebebeb;

}

::-moz-selection {
	background-color: var(--primary-color);
	color: #fff;
}

::selection {
	background-color: var(--primary-color);
	color: #fff;
}

@font-face {
	font-family: Avenir;
	src:url(font/Avenir-Medium.ttf);
}

@font-face {
	font-family: AvenirLight;
	src: url(font/Avenir-Light.ttf)
}

.emphasize{ 
	/* color: var(--primary-color); */
	background-color: var(--span-color);
}


.light-blue{
	color: #E6FEF6;
}
.blue {
	color: var(--primary-color);
}
.w {
	color: #ffffff;
}
.b-b{ /*blue */
	background-color: var(--primary-color);
}

.right{
	float:right;
}

.left {
	float:left;
}

.center {
	text-align: center;
}

.centered{ /* work list hover content (work title, tag) */
	background-color: var(--primary-color);
	
	opacity: 0;
	-webkit-transition: .5s;
	-o-transition: .5s;
	transition: .5s;
	position: absolute;
	top:50%;
	left:50%;
	-webkit-transform:translate(-50%,-50%);
	    -ms-transform:translate(-50%,-50%);
	        transform:translate(-50%,-50%);
	z-index: 10;
	pointer-events: none;/*disabling hover */
	padding-left: 8%;
	padding-right: 8%;

}

.hoverThumbShadow {
	animation: thumbShadow 0.8s ease forwards;
}
@keyframes thumbShadow {
	0% {
		box-shadow: 0vw 0vw var(--secondary-color);
		text-shadow: 0vw 0vw var(--primary-color-dark);
	}
	100% {
		box-shadow: 0.5vw 0.5vw var(--secondary-color);
		text-shadow: 0.2vw 0.2vw var(--primary-color-dark);
	}
}
.centered h4{
	text-align: center;
	color:#fff;
	font-size: 1.3em !important;
}

.centered i {
	font-family: AvenirLight;
	color:#fff !important;
}

.sticky {
	position: fixed;
	top:0;

}
.work-thumb-text {
	cursor: pointer;
	position: relative;
	text-align: center;

}

.scrolldown {
	
	opacity: 1;
	position: absolute;
	bottom:30%;
	right:100px;
	z-index: -10;
	-webkit-animation: scrollAnim 1s ease-out infinite;
	        animation: scrollAnim 1s ease-out infinite;

}

@-webkit-keyframes scrollAnim {
	0% {
		-webkit-transform:  translate(0px, 10px);
		        transform:  translate(0px, 10px);
	}
	50% {
		-webkit-transform: translate(0px, -10px);
		        transform: translate(0px, -10px);
	}
	100% {
		-webkit-transform: translate(0px, 10px);
		        transform: translate(0px, 10px);
	}
}

@keyframes scrollAnim {
	0% {
		-webkit-transform:  translate(0px, 10px);
		        transform:  translate(0px, 10px);
	}
	50% {
		-webkit-transform: translate(0px, -10px);
		        transform: translate(0px, -10px);
	}
	100% {
		-webkit-transform: translate(0px, 10px);
		        transform: translate(0px, 10px);
	}
}
.scrolldown img {
	margin:auto;
	display: block;
}
.scrolldown p {
	font-size: 80%;
}
.footer {
	margin-top:20%;
	

}
.footer p {
	font-size: 8pt;
}

.background-img {
	width: 100%;
	z-index: -20;
	position: absolute;
	left:0;
	right:0;
}


body {
	top:0;
	left:0;
	right:0;
	margin:0;
}
button {
font-family: Avenir;
 font-weight: normal;
cursor: pointer;
	 text-decoration: none;
  border: none;
  background:none;
}

p {
  /*font-family: Palatino-Roman;*/
  font-family: AvenirLight;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000000;

}

h2 {
	font-family: Avenir;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color:var(--primary-color);
}
h4 {
	font-family: Avenir;
	font-weight: normal;
	font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
}

h3 {
	font-family: Avenir;
	font-weight: 700;
	font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  opacity: 0.7;
  font-size: 1em;
  padding-top: 5%;

}
i {
	font-family: Avenir;
	font-weight: 700;
	opacity: 0.8;
	color: var(--primary-color);
}

.grid-project i {
	color: #000;
}
ul {
	list-style: none;
	padding-left: 0;
}
li{

	list-style: none;
	/*font-family: Palatino-Roman;*/
	font-family: Avenir;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000000;
}
#filter-icon {
	width: 35%;
	cursor: pointer;
	display: inline;
	margin-left: auto;
	margin-right: auto;

}
#filter-icon:hover {
	opacity: 0.5;
}


.work-filter li {
	display: inline-block;
	margin: 1%;
	
	
}

.work-filter a {
	display:inline-block;
	text-decoration: none;
	
}
.work-filter a::after {
	content: '';
	display: block;
	top: 50%;
    width: 0;
    height: 2px;
	color: #000;
	border-bottom:0;
	background:var(--secondary-color);
	-webkit-transition: width .3s ease-out, color .3s ease-out;
    -o-transition: width .3s ease-out, color .3s ease-out;
	transition: width .3s ease-out, color .3s ease-out;
    /* 
	-webkit-transform:rotate(-5deg);
	-moz-transform:rotate(-5deg);
	-ms-transform:rotate(-5deg);
	-o-transform:rotate(-5deg);
	transform:rotate(-5deg);
	z-index: -10; */
}

.work-filter a:hover {
	color: var(--primary-color);
}

.work-filter a:hover::after{
	/* border-bottom: 3px solid var(--secondary-color); */
	width:100%;
	
}


.work-filter{
	margin-top:5%;
	margin-bottom: 5%;
	text-align: center;
	cursor: pointer;
}

.sub-title {
	text-align: center;
	margin-bottom:5%;
	margin-top:10%;
	margin-left: 5%;
	margin-right: 5%;
	
}
.sub-title span {
	position: relative;
	padding:10px;
}
/* .sub-title span::after{
	border-bottom: 2px solid var(--primary-color); 
	position: absolute;
 	 content: "";
	left: 0;
	top: 50%;
	right: 0;
	border-top: 3px solid var(--secondary-color);
	opacity: 0.5;
	z-index: -10;
	-webkit-transform:rotate(-5deg);
	-moz-transform:rotate(-5deg);
	-ms-transform:rotate(-5deg);
	-o-transform:rotate(-5deg);
	transform:rotate(-5deg);
}*/
.nav-bar {
	position: fixed;
	top:0;
	left: 0;
	right:0;
	height: 60px;
	/* background-color: #fff; */
	font-family: Avenir;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
	text-align: center;
	text-decoration: none;
	border: none;
	background: none;
	width: 100vw;
	z-index: 10;
	animation: topAppear 1s ease-in-out forwards;
}

.nav-article-bar {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100vw;
	z-index: 10;
	animation: bottomAppear 1s ease-in-out forwards;
	
}
.nav-article-bar button {
	font-family: AvenirLight !important;
	font-style: oblique !important;
	font-size: 1em !important;
}
.topNavDisappear {
	animation: topDisappear 1s ease-in-out forwards;
}

.bottomNavDisappear {
	animation: bottomDisappear 1s ease-in-out forwards;
}

@keyframes topAppear {
	from {
		transform: translate(0,-100%);
	} to {
		transform: translate(0,0);
	}
}

@keyframes topDisappear {
	from {
		transform: translate(0,0);
	} to {
		transform: translate(0,-100%);
	}
}

@keyframes bottomAppear {
	from {
		transform: translate(0,200%);
	} to {
		transform: translate(0,0);
	}
}

@keyframes bottomDisappear {
	from {
		transform: translate(0,0);
	} to {
		transform: translate(0,200%);
	}
}




.logo {
	display: block;
	width:30px;
	margin-left: auto;
	margin-right: auto;
	z-index: 10;
}
.logo:hover {
	-webkit-filter: drop-shadow(3px 3px 0px var(--secondary-color));
	filter: drop-shadow(3px 3px 0px var(--secondary-color));
	-webkit-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;
}
.nav-left-arrow, .nav-right-arrow{
	fill: currentColor;
	width:15px;
	height: 24px;
	overflow: visible;
}
.nav-right-arrow {
	padding-right: 10%;
	padding-left: 10%;
}

.nav-left-arrow {
	padding-right: 20%;
}

.nav-left-button {
	display: flex;
	color: var(--primary-color);
 	 float:left;
 	 text-align: left;
 	text-shadow: 0px 0px 0px var(--secondary-color);
	-webkit-transition: 0.5s;
	-o-transition: 0.5s;
	transition: 0.5s;
	
}

.nav-right-button{
	display: flex;
	color: var(--primary-color);
  text-align: right;
  float:right;
  text-shadow: 0px 0px 0px var(--secondary-color);
	-webkit-transition: 0.5s;
	-o-transition: 0.5s;
	transition: 0.5s;
}

.nav-bar .nav-left-button:focus,.nav-bar .nav-right-button:focus,.nav-bar .nav-right-button:hover,.nav-bar .nav-left-button:hover {
	outline: 0;
	color: var(--primary-color);
	text-shadow: 3px 3px 0px var(--secondary-color);
	-webkit-transition: 0.5s;
	-o-transition: 0.5s;
	transition: 0.5s;
}

.nav-article-bar .nav-left-button:focus,.nav-article-bar .nav-left-button:hover {
	outline: 0;
	color: var(--primary-color);
	/* text-shadow: 3px 3px 0px var(--secondary-color); */
	transform: translate(-10px, 0);
	-webkit-transition: 0.5s;
	-o-transition: 0.5s;
	transition: 0.5s;
}

.nav-article-bar .nav-right-button:focus,.nav-article-bar .nav-right-button:hover {
	outline: 0;
	color: var(--primary-color);
	/* text-shadow: 3px 3px 0px var(--secondary-color); */
	transform: translate(10px, 0);
	-webkit-transition: 0.5s;
	-o-transition: 0.5s;
	transition: 0.5s;

	
}
.link-button{
	cursor: pointer;
	padding:1.5% 3% 1.5% 3%;
	font-family: Avenir;
  font-weight: normal !important;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: right;
  color:#ffffff;
  border: none;
  text-decoration: none;
  /*border-left: 3px solid var(--primary-color);*/
  border: 1px solid var(--primary-color);

  border-radius: 5px;
  background-color: var(--primary-color);
  -webkit-box-shadow: 0px 0px  var(--primary-color);
          box-shadow: 0px 0px  var(--primary-color);
	-webkit-transition: 0.5s;
	-o-transition: 0.5s;
	transition: 0.5s;
}

.link-button:hover {
	background-color:var(--secondary-color);
	-webkit-box-shadow: 3px 3px  var(--primary-color);
	        box-shadow: 3px 3px  var(--primary-color);
	-webkit-transition: 0.5s;
	-o-transition: 0.5s;
	transition: 0.5s;
}


.link-button:focus {
	outline: none;
}


.contact-icon{
	margin:10px;

}

.contact-icon:hover {
	opacity: 0.5;
}


.grid-about-content {
	display: -ms-grid;
	display: grid;
	margin:2% 2% 0 2%;
	-ms-grid-columns: 1fr 2% 1fr 2% 1fr 2% 1fr 2% 1fr 2% 1fr 2% 1fr 2% 1fr;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	grid-column-gap: 2%;
	    grid-template-areas:
	". intro intro intro intro . . ."
	". about-1 about-1 about-1 about-1 note note note"
	".  monitor monitor about-2 about-2 about-2 about-2 ."
	". about-3 about-3 about-3 about-3 . . ."
	". . practice-area practice-area . . . ."
	". activity activity activity activity activity activity ."
	". selected-works selected-works selected-works selected-works selected-works selected-works ."
	". more-works more-works more-works more-works more-works more-works ."
	". contact contact contact contact contact contact ."
}

.grid-work-content {
	display: -ms-grid;
	display: grid;
	margin:2% 2% 0 2%;
	-ms-grid-columns: 1fr 2% 1fr 2% 1fr 2% 1fr 2% 1fr 2% 1fr 2% 1fr 2% 1fr;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	grid-column-gap: 2%;
	    grid-template-areas: 
	". work-filter work-filter work-filter work-filter work-filter work-filter."
	". work-list work-list work-list work-list work-list work-list ."
}


.work-filter{
	-ms-grid-row: 1;
	-ms-grid-column: 3;
	-ms-grid-column-span: 9;
	grid-area: work-filter;
}

.work-list{
	-ms-grid-row: 2;
	-ms-grid-column: 3;
	-ms-grid-column-span: 11;
	grid-area: work-list;
}

.intro{
	-ms-grid-row:1;
	-ms-grid-column:3;
	-ms-grid-column-span:7;
	grid-area:intro;
	
}


.activity {
	-ms-grid-row: 6;
	-ms-grid-column: 3;
	-ms-grid-column-span: 11;
	grid-area: activity;
	
}

.activity-area {
	display: -ms-grid;
	display: grid;
	-ms-grid-columns: 1fr 5fr;
	grid-template-columns: 1fr 5fr;
}

.activity-area p {
	margin: 1vh;

}
.note-anim {
	-ms-grid-row: 2;
	-ms-grid-column: 11;
	-ms-grid-column-span: 5;
	grid-area: note;
margin-top:10%;	
}

.pen {
	-webkit-animation: penMove 5s infinite;
	        animation: penMove 5s infinite; 
}

.pen-parent {
	-webkit-animation: penRotate 0.5s infinite;
	        animation: penRotate 0.5s infinite;
}
.monitor-anim {
	-ms-grid-row: 3;
	-ms-grid-column: 3;
	-ms-grid-column-span: 3;
	grid-area: monitor;
	margin-top:10%;	
	/*text-align: center;*/

}

.monitor, .mouse, .cursor, .note, .pen {

	z-index: -10;
	position: absolute;
}
.mouse {
	-webkit-animation:mouseAnim 3s linear infinite;
	        animation:mouseAnim 3s linear infinite;

}

.cursor {
	-webkit-animation: cursorAnim 3s linear infinite;
	        animation: cursorAnim 3s linear infinite;
}
@-webkit-keyframes penRotate {
	0% {
		-webkit-transform:  rotate(5deg);
		        transform:  rotate(5deg);
	}
	50% {
		-webkit-transform: rotate(-5deg);
		        transform: rotate(-5deg);
	}
	100% {
		-webkit-transform: rotate(5deg);
		        transform: rotate(5deg);
	}
}
@keyframes penRotate {
	0% {
		-webkit-transform:  rotate(5deg);
		        transform:  rotate(5deg);
	}
	50% {
		-webkit-transform: rotate(-5deg);
		        transform: rotate(-5deg);
	}
	100% {
		-webkit-transform: rotate(5deg);
		        transform: rotate(5deg);
	}
}

@-webkit-keyframes penMove {
	0% {
		-webkit-transform: translate(20%, -50%);
		        transform: translate(20%, -50%);

	}
	20% {
		-webkit-transform: translate(-20%, -35%);
		        transform: translate(-20%, -35%);
	}
	40% {
		-webkit-transform: translate(20%, -20%);
		        transform: translate(20%, -20%);
	}
	60% {
		-webkit-transform: translate(-20%, -5%);
		        transform: translate(-20%, -5%);
	}
	70% {
		-webkit-transform: translate(20%, -20%);
		        transform: translate(20%, -20%);
	}
	80% {
		-webkit-transform: translate(-20%, -35%);
		        transform: translate(-20%, -35%);
	}
	
	100% {
		-webkit-transform: translate(20%, -50%);
		        transform: translate(20%, -50%);
	}
}

@keyframes penMove {
	0% {
		-webkit-transform: translate(20%, -50%);
		        transform: translate(20%, -50%);

	}
	20% {
		-webkit-transform: translate(-20%, -35%);
		        transform: translate(-20%, -35%);
	}
	40% {
		-webkit-transform: translate(20%, -20%);
		        transform: translate(20%, -20%);
	}
	60% {
		-webkit-transform: translate(-20%, -5%);
		        transform: translate(-20%, -5%);
	}
	70% {
		-webkit-transform: translate(20%, -20%);
		        transform: translate(20%, -20%);
	}
	80% {
		-webkit-transform: translate(-20%, -35%);
		        transform: translate(-20%, -35%);
	}
	
	100% {
		-webkit-transform: translate(20%, -50%);
		        transform: translate(20%, -50%);
	}
}

@-webkit-keyframes mouseAnim{
	0% {
		-webkit-transform: translate(0px,0px) ;
		        transform: translate(0px,0px) ;
	}
	20% {
		-webkit-transform:  translate(10%,0px) ;
		        transform:  translate(10%,0px) ;
	}
	25% {
		-webkit-transform:  translate(10%,0px) ;
		        transform:  translate(10%,0px) ;
	}
	50% {
		-webkit-transform:  translate(10%,10%) ;
		        transform:  translate(10%,10%) ;
	}
	55% {
		-webkit-transform:  translate(10%,10%) ;
		        transform:  translate(10%,10%) ;
	}
	100% {
		-webkit-transform: translate(0px,0px);
		        transform: translate(0px,0px);

	}
}

@keyframes mouseAnim{
	0% {
		-webkit-transform: translate(0px,0px) ;
		        transform: translate(0px,0px) ;
	}
	20% {
		-webkit-transform:  translate(10%,0px) ;
		        transform:  translate(10%,0px) ;
	}
	25% {
		-webkit-transform:  translate(10%,0px) ;
		        transform:  translate(10%,0px) ;
	}
	50% {
		-webkit-transform:  translate(10%,10%) ;
		        transform:  translate(10%,10%) ;
	}
	55% {
		-webkit-transform:  translate(10%,10%) ;
		        transform:  translate(10%,10%) ;
	}
	100% {
		-webkit-transform: translate(0px,0px);
		        transform: translate(0px,0px);

	}
}
@-webkit-keyframes cursorAnim {
	0% {
		-webkit-transform: translate(-5%, 0px);
		        transform: translate(-5%, 0px);

	}
	20% {
		-webkit-transform: translate(25%, 0px);
		        transform: translate(25%, 0px);
	}
	25% {
		-webkit-transform: translate(25%, 0px);
		        transform: translate(25%, 0px);
	}
	50% {
		-webkit-transform : translate(25%, 20%);
		        transform : translate(25%, 20%);
	}
	55% {
		-webkit-transform : translate(25%, 20%);
		        transform : translate(25%, 20%);
	}
	100% {
		-webkit-transform: translate(-5%, 0px);
		        transform: translate(-5%, 0px);
	}
}
@keyframes cursorAnim {
	0% {
		-webkit-transform: translate(-5%, 0px);
		        transform: translate(-5%, 0px);

	}
	20% {
		-webkit-transform: translate(25%, 0px);
		        transform: translate(25%, 0px);
	}
	25% {
		-webkit-transform: translate(25%, 0px);
		        transform: translate(25%, 0px);
	}
	50% {
		-webkit-transform : translate(25%, 20%);
		        transform : translate(25%, 20%);
	}
	55% {
		-webkit-transform : translate(25%, 20%);
		        transform : translate(25%, 20%);
	}
	100% {
		-webkit-transform: translate(-5%, 0px);
		        transform: translate(-5%, 0px);
	}
}

.fade-in {

  -webkit-animation:fadeIn ease-in 1;
  animation:fadeIn ease-in 1;

  -webkit-animation-fill-mode:forwards;
  animation-fill-mode:forwards;

  -webkit-animation-duration:0.5s;
  animation-duration:0.5s;
}

.fade-out {

  -webkit-animation:fadeOut ease-in 1;
  animation:fadeOut ease-in 1;

  -webkit-animation-fill-mode:forwards;
  animation-fill-mode:forwards;

  -webkit-animation-duration:0.5s;
  animation-duration:0.5s;
}


@-webkit-keyframes fadeIn {
	0% { opacity: 0; }
	100% { opacity: 1; }
}


@keyframes fadeIn {
	0% { opacity: 0; }
	100% { opacity: 1; }
}

@-webkit-keyframes fadeOut {
	0% { opacity: 1; }
	100% { opacity: 0; }
}

@keyframes fadeOut {
	0% { opacity: 1; }
	100% { opacity: 0; }
}

.about-1 { -ms-grid-row:2; -ms-grid-column:3; -ms-grid-column-span:7; /* first about part */
	grid-area:about-1;

	
}

.about-2 {
	-ms-grid-row:3;
	-ms-grid-column:7;
	-ms-grid-column-span:7;
	grid-area:about-2;
}

.about-3 {
	-ms-grid-row:4;
	-ms-grid-column:3;
	-ms-grid-column-span:7;
	grid-area:about-3;
}

.selected-works {
	-ms-grid-row:7;
	-ms-grid-column:3;
	-ms-grid-column-span:11;
	grid-area:selected-works;
}

.practice-area{
	-ms-grid-row:5;
	-ms-grid-column:5;
	-ms-grid-column-span:3;
	grid-area:practice-area;
}
.skill {
	grid-area:skill;
}
.selected-works{
	margin-top:10%;
}
.more-works{
	-ms-grid-row: 8;
	-ms-grid-column: 3;
	-ms-grid-column-span: 11;
	margin-top:10%;
	text-align: center;
	grid-area: more-works;
}
.contact {
	-ms-grid-row:9;
	-ms-grid-column:3;
	-ms-grid-column-span:11;
	margin-top:10%;
	grid-area:contact;
	text-align: center;
}

.contact a {
	cursor: pointer;
}
.grid-selected-works {

	display: -ms-grid;

	display: grid;
	margin-bottom: 4%;
	-ms-grid-columns: 1fr 4% 1fr;
	grid-template-columns: 1fr 1fr;
	-ms-grid-rows: 1fr;
	grid-template-rows: 1fr;
	grid-column-gap: 4%;
	    grid-template-areas: 
	"thumb text"
	
}
.thumb {
	-ms-grid-row: 1;
	-ms-grid-column: 1;
	grid-area: thumb;
	overflow: hidden;
	margin-right:4%;
	height:  100%;
	
}
.work-thumb {
	overflow: hidden;
}


@supports (grid-column-gap: 4%) {
	.grid-selected-works {
		grid-column-gap: 4%;
		
	}
	.thumb {
		margin-left:0;
		margin-right:0;
	}

}


.thumb img{
	max-width:100%;
	min-height:100%;
	filter: blur(0px);
	transform: scale(1);
	transition: all .5s;
}

.work-thumb img {
	filter: blur(0px);
	transform: scale(1);
	transition: all .5s;
}


.thumb img:hover, .work-thumb img:hover {
	transform: scale(1.2);
	-ms-transform: scale(1.2);
	-moz-transform: scale(1.2);
	-webkit-transform: scale(1.2);
	-o-transform: scale(1.2);
	-webkit-filter:blur(2px);
	        filter:blur(2px);
}


.work-list {
	display: -ms-grid;
	display: grid;
	    grid-template-areas: "a";
	grid-auto-rows: auto;
}

.work-item {
	width:100%;
	margin-bottom: -4px;
}

.text {
	-ms-grid-row: 1;
	-ms-grid-column: 3;
	/*grid-column-start: 2;
	grid-column-end: 3; manually assign grid start and end*/
	grid-area: text;

}


.face img{
	width:50%;
	/*animation:faceAnim 10s linear infinite;*/

}
@-webkit-keyframes faceAnim{
	0% {
		-webkit-transform: translate(0px,0px) rotate(0deg) ;
		        transform: translate(0px,0px) rotate(0deg) ;
	}
	50% {
		-webkit-transform:  translate(60%,0px) rotate(720deg) ;
		        transform:  translate(60%,0px) rotate(720deg) ;
	}
	100% {
		-webkit-transform: translate(0px,0px) rotate(0deg) ;
		        transform: translate(0px,0px) rotate(0deg) ;

	}
}
@keyframes faceAnim{
	0% {
		-webkit-transform: translate(0px,0px) rotate(0deg) ;
		        transform: translate(0px,0px) rotate(0deg) ;
	}
	50% {
		-webkit-transform:  translate(60%,0px) rotate(720deg) ;
		        transform:  translate(60%,0px) rotate(720deg) ;
	}
	100% {
		-webkit-transform: translate(0px,0px) rotate(0deg) ;
		        transform: translate(0px,0px) rotate(0deg) ;

	}
}

.work-title{
	text-align: center;
}


/* work project individual page */
.video {
	position: relative;
    overflow: hidden;
    padding-top: 56.25%;
	
}

.video iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;

}

.video-content {
	margin:5vw;
}

.grid-gallery {
	display: -ms-grid;
	display: grid;
	-ms-grid-columns: 1fr 1fr;
	grid-template-columns: 1fr 1fr;
	    grid-template-areas: 
	"a a"
}

.grid-gallery img{
	width: 100%;
}
.grid-two {
	display: -ms-grid;
	display: grid;
	-ms-grid-columns: 1fr 2% 1fr;
	grid-template-columns: 1fr 1fr;
	grid-column-gap: 2%;
	    grid-template-areas: 
	"a a"
}
.grid-two img {
	width: 100%;
}

.grid-two-icon {
	display: block;
	margin: auto !important;
	width: 30% !important;
}
.grid-three {
	display: -ms-grid;
	display: grid;
	-ms-grid-columns: 1fr 2% 1fr 2% 1fr;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 2%;
	    grid-template-areas: 
	"a a a"
}

.grid-three img {
	width: 100%;
}

.grid-three-icon {
	display: block;
	margin: auto !important;
	width: 50% !important;
}

.grid-three-img {
	display: block;
	margin: auto !important;
	width: 80% !important;
}
.grid-four {
	display: -ms-grid;
	display: grid;
	-ms-grid-columns: 1fr 2% 1fr 2% 1fr 2% 1fr;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-column-gap: 2%;
	    grid-template-areas: 
	"a a a a"
}

.grid-four img {
	width: 100%;
}

.grid-four-icon {
	display: block;
	margin: auto !important;
	width: 80% !important;
}
.grid-project {
	margin:0;
	display: -ms-grid;
	display: grid;
	grid-auto-rows: auto;
	    grid-template-areas: 
	"project-title"
	"grid-project-text"
}
.grid-project p {
	line-height: 1.6;
}

.project-title{
	-ms-grid-row: 1;
	-ms-grid-column: 1;
	grid-area: project-title;
	overflow: hidden;
	position: relative;
	z-index: -10 !important;
	
}

.project-title img {
	width:100%;
	opacity: 0.9;
	
}
.project-title-img {
	-webkit-clip-path : polygon(100% 10%, 100% 80%, 0% 80%, 0% 50%);
	clip-path: polygon(100% 10%, 100% 80%, 0% 80%, 0% 50%);
}
.project-title h2{
	color:#000;

}


.project-title-text {
	position: absolute;
	/* top:25vw;
	left:50vw;  */
	top:10vw;
	left:10vw;
	width:40vw;
	/* -webkit-transform:translate(-50%,-50%);
	    -ms-transform:translate(-50%,-50%);
			transform:translate(-50%,-50%); */
	z-index: 5;
	text-align: left;
	background-color: var(--primary-color);
	animation:projectTitleAnim 0.5s ease forwards;
	padding: 3vw;

}

@keyframes projectTitleAnim {
	0% {
		box-shadow:0vw 0vw var(--secondary-color);
	}
	100% {
		box-shadow:1vw 1vw var(--secondary-color);
	}
}

.project-title-text h2{
	margin:0;
	padding:0;
	color:#fff;
	animation: projectTitleTextAnim 0.5s ease forwards;
}

@keyframes projectTitleTextAnim {
	0% {
		text-shadow:0vw 0vw var(--primary-color-dark);
	}
	100% {
		text-shadow:0.2vw 0.2vw var(--primary-color-dark);
	}
}

.project-title-text h3{
	font-family: AvenirLight !important;
	margin: 0;
	color:#fff;
}
.grid-project-text{
	-ms-grid-row: 2;
	-ms-grid-column: 1;
	grid-area: grid-project-text;

	margin:2% 2% 0 2%;
	display: -ms-grid;
	display: grid;
	-ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	    grid-template-areas: 
	". project-overview project-overview project-overview project-overview project-overview project-overview ."
	". project-content project-content project-content project-content project-content project-content ."
}

.project-overview{
	-ms-grid-row: 1;
	-ms-grid-column: 2;
	-ms-grid-column-span: 6;
	grid-area: project-overview;
	
}

.single-img {
	width: 100%;
	
}
.zoom {
	cursor: pointer;
}


.arrow-left, .arrow-right {
	top:43%;
	position: absolute;
	border: solid #dfdedf !important;
  border-width: 0 0.5vmin 0.5vmin 0 !important;
  display: inline-block;
  background: transparent !important;
  padding: 1vmin;
  -webkit-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
  	text-decoration: none;
}
.arrow-left:focus, .arrow-right:focus{
	outline: none;

}
.arrow-left:before, .arrow-right:before {
	content: '';
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-40%,-60%) rotate(45deg);
	    -ms-transform: translate(-40%,-60%) rotate(45deg);
	        transform: translate(-40%,-60%) rotate(45deg);
	width: 200%;
	height: 200%;
}
.arrow-left:hover, .arrow-right:hover {
	background: transparent;
	border-color: var(--primary-color) !important;
	-webkit-box-shadow: 0.5vmin 0.5vmin 0 #dfdedf;
	        box-shadow: 0.5vmin 0.5vmin 0 #dfdedf;
}

.arrow-left {
	left: -3%;
	-webkit-transform: translate3d(0,-50%,0) rotate(135deg);
	        transform: translate3d(0,-50%,0) rotate(135deg);

}
.arrow-right {
	right: -3%;
	-webkit-transform: translate3d(0,-50%,0) rotate(-45deg);
	        transform: translate3d(0,-50%,0) rotate(-45deg);
}

.slide-window{
	width: 100%;
	/*background-color: #dfdedf;*/
	margin-top:3%;
	margin-bottom: 3%;
	position: relative;
}
.slide-view{
	/*background-color: #dfdddf;*/
	overflow: hidden;

	
}

.slide-images{
	width: 100%;
	display: none;
}

.slide-selected {
	display: block;
}
.slide-dots{
	margin-top:5%;
	text-align: center;
}

.dot {
	cursor: pointer;
  margin: 1%;
  height: 8px;
  width: 8px;
  background-color: #ccc;
  border-radius: 50%;
  display: inline-block;
}

.dot-selected {
	background-color: #666 !important;
}


#modal {
	background-color: #dfdedf;
	top:0;
	left: 0;
	width: 100%;
	height: 100%;
	position: fixed;
	z-index: 1000;
	display: none;
	opacity: 0.5;
}


.modal-images{
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
	max-height: 100%;
	max-width: 100%;
	display: none;
	cursor: pointer;

}
.modal-left-button {
	padding: 3%;
	font-size: 2em !important;
	font-family: Avenir;
  	font-weight: 800;
  	font-style: normal;
  	font-stretch: normal;
  	line-height: normal;
  	letter-spacing: normal;
 	text-align: left;
 	color: var(--primary-color);
  	text-decoration: none;
 	border: none;
  	background: none;
  	float:left;
 	text-shadow: 0px 0px 0px var(--secondary-color);
	-webkit-transition: 0.5s;
	-o-transition: 0.5s;
	transition: 0.5s;
	position: absolute;
	z-index: 10;
	top:0;
	bottom: 0;
	left: 0;

}

.modal-right-button {
	padding: 3%;
	font-size: 2em !important;
	font-family: Avenir;
  	font-weight: 800;
  	font-style: normal;
  	font-stretch: normal;
  	line-height: normal;
  	letter-spacing: normal;
 	text-align: right;
 	color: var(--primary-color);
  	text-decoration: none;
 	border: none;
  	background: none;
  	float:right;
 	text-shadow: 0px 0px 0px var(--secondary-color);
	-webkit-transition: 0.5s;
	-o-transition: 0.5s;
	transition: 0.5s;
	position: absolute;
	z-index: 10;
	top:0;
	bottom: 0;
	right: 0;
}

.modal-left-button:focus, .modal-right-button:focus {
	outline: 0;
	color: var(--primary-color);
	text-shadow: 3px 3px 0px var(--secondary-color);
	-webkit-transition: 0.5s;
	-o-transition: 0.5s;
	transition: 0.5s;
}



.modal-left-button:hover, .modal-right-button:hover {
	color: var(--primary-color);
	text-shadow: 3px 3px 0px var(--secondary-color);
	-webkit-transition: 0.5s;
	-o-transition: 0.5s;
	transition: 0.5s;
}

.caption {
	text-align: center;
	font-style: italic;
	font-size: 50% !important;

}
.box-shadow {
	-webkit-box-shadow: 0px 0px 15px #D0D0D0;
	        box-shadow: 0px 0px 15px #D0D0D0;
	margin: 15px;
}

.cell {
	background-color:var(--primary-color-light);
	padding:5%;
	text-align: center;
	border-radius: 10px;
}

.cell img{
	width: 100%;
}
/*
.grid-overview p{
	font-size: 11pt;
}*/
.project-content {
	-ms-grid-row:2;
	-ms-grid-column:2;
	-ms-grid-column-span:6;
	grid-area:project-content;


}
.project-content a{
	text-decoration: none;
	color: #000;
	border-bottom: 3px solid #D0D0D0;
}
.project-content a:hover {
	background-color: #D0D0D0;
}
.content-text { /* main text area */
	width:550px;
	margin: auto;
}

.content-text img {
	width: 100%;

}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
	.index {
		/*background-image: url("images/bg_mobile2.png");*/
	}
	.face img{
		margin:auto !important;
		left: 0;
		right: 0;
		display: block;

	}
	.intro h2, .intro h4, .intro p, .about-1 h4, .about-1 p, .about-2 h4, .about-2 p{
		text-align: center;
	}
	.intro button {
		margin: auto !important;
		left:0;
		right: 0;
		display: block;
		text-decoration: none;
	}
	.scrolldown {
		margin: auto !important;
		left:0;
		right: 0;
		bottom: 10% !important;

	}
	.scrolldown p {
		text-align: center;
		font-size: 70%;
	}
	.scrolldown img {
		width: 7%;
	}

	.link-button{
		font-size: 11px;
	}
	p, ul{
		font-size: 12px;
	}
	h2 {
		font-size: 16px;
	}
	h3 {
		font-size: 12px;
	}
	h4 {
		font-size: 12px;
	}
	.nav-left-button, .nav-right-button{
		font-size: 15px;
		margin:10px;
	}
	.logo {
		margin-top: 12px;
		width:20px;
	}
	.grid-about-content {

		    grid-template-areas: 
		"intro intro intro intro intro intro intro intro"
		"note note note note note note note note"
		"about-1 about-1 about-1 about-1 about-1 about-1 about-1 about-1"
		"monitor monitor monitor monitor monitor monitor monitor monitor"
		"about-2 about-2 about-2 about-2 about-2 about-2 about-2 about-2"
		"about-3 about-3 about-3 about-3 about-3 about-3 about-3 about-3"
		"practice-area practice-area practice-area practice-area practice-area practice-area practice-area practice-area"
		"skill skill skill skill skill skill skill skill"
		"activity activity activity activity activity activity activity activity"
		"selected-works selected-works selected-works selected-works selected-works selected-works selected-works selected-works"
		"more-works more-works more-works more-works more-works more-works more-works more-works"
		"contact contact contact contact contact contact contact contact"
	}
	.grid-work-content {
		    grid-template-areas: 
		"work-filter work-filter work-filter work-filter work-filter work-filter work-filter work-filter"
		"work-list work-list work-list work-list work-list work-list work-list work-list "
	}
	.grid-selected-works {
		    grid-template-areas: 
		"thumb thumb"
		"text text"
	}

	.grid-overview{
		display: -ms-grid;
		display: grid;
		-ms-grid-columns: auto;
		grid-template-columns: auto;
		    grid-template-areas: 
			"a"
	}
	.nav-bar{
		height: 35px;
	}
	.project-title{
		/* margin-top: 50px; */
		height: 200px;
		top:5vw;
	}
	
	.work-list {
		    grid-template-areas: "a";
		
	}

	.intro {
		margin-top:15%;

	}
	.thumb {
		margin-right: 0;
	}
	.content-text { /* main text area */
	width:280px;
	margin: auto;
	}

	.grid-four {
	/*margin-bottom: 50%;*/
	-ms-grid-columns: auto;
	grid-template-columns: auto;
	/* grid-row-gap: 1%; */
	    grid-template-areas: 
	"a"
	}

	.grid-three {
	-ms-grid-columns: auto;
	grid-template-columns: auto;
	    grid-template-areas: "a"
	}

	.grid-two {
	-ms-grid-columns: auto;
	grid-template-columns: auto;
	grid-column-gap: 2%;
	    grid-template-areas: 
	"a"
	}

	.cell {
		margin: 1vw;
	}
	.monitor-anim, .note-anim {
		
		height: 190px;
	}
	.monitor, .mouse, .cursor, .note, .pen {
		left:25%; /*make it center*/
		width: 190px;

	}

	.filter-icon-item {
		display: none;
	}
	#filter-icon {
		display: none;
	}
	.work-filter {
		-ms-grid-row: 1;
		-ms-grid-column: 1;
		-ms-grid-column-span: 8
	}
	.work-list {
		-ms-grid-row: 2;
		-ms-grid-column: 1;
		-ms-grid-column-span: 8
	}
	.intro {
		-ms-grid-row:1;
		-ms-grid-column:1;
		-ms-grid-column-span:8
	}
	.activity {
		-ms-grid-row: 9;
		-ms-grid-column: 1;
		-ms-grid-column-span: 8
	}
	.note-anim {
		-ms-grid-row: 2;
		-ms-grid-column: 1;
		-ms-grid-column-span: 8
	}
	.monitor-anim {
		-ms-grid-row: 4;
		-ms-grid-column: 1;
		-ms-grid-column-span: 8
	}
	.about-1 {
		-ms-grid-row:3;
		-ms-grid-column:1;
		-ms-grid-column-span:8
	}
	.about-2 {
		-ms-grid-row:5;
		-ms-grid-column:1;
		-ms-grid-column-span:8
	}
	.about-3 {
		-ms-grid-row:6;
		-ms-grid-column:1;
		-ms-grid-column-span:8
	}
	.selected-works {
		-ms-grid-row:10;
		-ms-grid-column:1;
		-ms-grid-column-span:8
	}
	.practice-area {
		-ms-grid-row:7;
		-ms-grid-column:1;
		-ms-grid-column-span:8
	}
	.skill {
		-ms-grid-row:8;
		-ms-grid-column:1;
		-ms-grid-column-span:8
	}
	.more-works {
		-ms-grid-row: 11;
		-ms-grid-column: 1;
		-ms-grid-column-span: 8
	}
	.contact {
		-ms-grid-row:12;
		-ms-grid-column:1;
		-ms-grid-column-span:8
	}
	.thumb {
		-ms-grid-row: 1;
		-ms-grid-column: 1;
		-ms-grid-column-span: 2
	}
	.text {
		-ms-grid-row: 2;
		-ms-grid-column: 1;
		-ms-grid-column-span: 2
	}
} 

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
	
	p,ul, .link-button {
		font-size: 12px;
	}
	h2 {
		font-size: 20px;
	}
	h3 {
		font-size: 11px;
	}
	h4{
		font-size: 12px;
	}

	.nav-bar{
		height: 60px;
	}
	

	.nav-left-button, .nav-right-button{
		font-size: 20px;
		margin:20px;
	}
	.logo {
		margin-top: 20px;
		width:30px;

	}

	.scrolldown {
		margin: auto !important;
		left:0;
		right: 0;
		bottom: 20% !important;
	}
	.scrolldown p {
		text-align: center;
	}
	.scrolldown img {
		width: 3%;
	}

	.about-1, .intro  {
		margin-top:30%;
	}
	.content-text {
		width: 500px;
	}
	.monitor-anim, .note-anim {
		
		height: 100px;
	}
	.monitor, .mouse, .cursor, .note, .pen {
		width: 100px;

	}
	.project-title {
		height: 350px;
	}
} 

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
	p, ul, .link-button {
		font-size: 13px;
	}
	h2 {
		font-size: 24px;
	}
	h3 {
		font-size: 13px;
	}
	h4{
		font-size: 15px;
	}
	.nav-left-button, .nav-right-button {
		font-size: 20px;
		margin:20px;
	}
	.grid-overview{
	display: -ms-grid;
	display: grid;

	-ms-grid-columns: 1fr 2% 3fr 2% 1fr 2% 3fr;

	grid-template-columns: 1fr 3fr 1fr 3fr;
	grid-column-gap: 2%;
	    grid-template-areas: 
	"a a a a"
	}
	
	
	.content-text {
		width: 550px;
	}
	.monitor-anim, .note-anim {
		
		height: 150px;
	}
	.monitor, .mouse, .cursor, .note, .pen {
		width: 150px;

	}
	.project-title {
		height: 500px;
	}
	
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
	.link-button{
		font-size: 14px;
	}
	.grid-project p {
		font-size: 14px !important;
	}
	p, ul, .link-button {
		font-size: 16px;
	}
	h2 {
		font-size: 30px;
	}
	h3 {
		font-size: 18px;
	}
	h4 {
		font-size: 22px;
	}
	.nav-left-button,
	.nav-right-button {
		font-size: 22px;
		margin:30px;
	}
	.logo {
		/* margin-top: 20px; */
		width:30px;
	}
	.face img{ 
		width: 40%;
	}
	.scrolldown {
		margin: auto !important;
		right: 0;
		bottom: 10% !important;
	}
	.scrolldown p {
		text-align: center;
	}
	.scrolldown img {
		width: 3%;
	}
	

	.about-1, .intro  {
		margin-top:17%;
	}

	.about-2 {
		margin-top:20%;
	}
	.about-3 {
		margin-top:30%;
	}
	.practice-area {
		margin-top:40%;
	}
	.monitor-anim, .note-anim {
		margin-top: 15%;
		height: 200px;
	}
	.monitor, .mouse, .cursor, .note, .pen {
		width: 250px;

	}
	
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
	.grid-project p {
		font-size: 15px !important;
	}
	p, ul {
		font-size: 18px;
	}

	h4{
		font-size: 18px;
	}



}

/* Extra large devices (large HD laptops and desktops, 1440px and up) */
@media only screen and (min-width: 1600px) {
	
	
	
}